//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@0,300;1,600&display=swap');

@import "variables";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: calc($space);
}

body,
html {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  color: $primary;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-weight: $fontWeightNormal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: $lg) {
  body, html {
    font-size: 20px;
  }
}

html {
  overflow-y: scroll;
}

body {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: $fontWeightBold;
  margin: 0;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.25em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

@media (min-width: $md) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }
}

strong {
  font-weight: $fontWeightBold;
}

.container {
  width: 100%;
  max-width: $xl;
  padding: 0 $space;
  margin: 0 auto;
}

::selection {
  background-color: $primary;
  color: $secondary;
}

button {
  background-color: $secondary;
  color: $primary;
  border: $borderWidth solid $primary;
  border-radius: $borderRadius;
  padding: calc($space / 2) $space;
  font-size: inherit;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: $primary;
  display: inline-block;
  transition: $transition;

  &:hover {
    text-underline-offset: 0.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  gap: $sectionGap;
}

p {
  margin: 0 0 calc($space / 2);
}
