//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@0,300;1,600&display=swap');

$primary: #2D3047;
$secondary: #FFFFFA;

body,
html {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: $primary;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

html {
  overflow-y: hidden;
}

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: 600;
}

h1 {
  font-size: 5em;
}

.text-lg {
  font-size: 2em;
}

strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

::selection {
  background-color: $primary;
  color: $secondary;
}
button {
  background-color: $primary;
  color: $secondary;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

a {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: $primary;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  gap: 10em;
}

p {
  margin: 0 0 1em;
}
